* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: #f4f4f4;
    color: #222;

    transition: 0.3s;
}

.container {
    width: 600px;
    margin: 100px auto;
    padding: 40px;

    text-align: center;

    background-color: white;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

button {
    padding: 12px 20px;

    margin: 8px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.dark {
    background-color: #202124;
    color: white;
}

.dark .container {
    background-color: #303134;
}

.dark button {
    background-color: #555;
    color: white;
}